---
// src/pages/tools/text-gradient-generator.astro

import TextGradient from '../../components/TextGradient';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>Text Gradient Generator</h1>
    <p></p>
    <TextGradient client:load />
</Layout>
