---
// src/pages/tools/text-gradient-generator.astro

import Layout from '../../layouts/Layout.astro';
import Index from '../../components/tools/TextGradientGenerator/index';
---

<Layout>
    <h1>Text Gradient Generator</h1>
    <p></p>
    <Index client:load />
</Layout>
