---
interface Props {
    icon: any;
    label: string;
    desc: string;
    url: string;
}

const { icon: Icon, label, desc, url } = Astro.props;
---

<li class='border-b border-dotted border-stone-200 last:border-0'>
    <a
        aria-current='page'
        href={url}
        class='block p-3 rounded-md text-body hover:bg-stone-300/95 transition-colors duration-300'
    >
        <div class='flex items-start gap-3'>
            <div
                class='flex-shrink-0 w-8 h-8 bg-stone-200 group-hover/item:bg-white group-hover/item:shadow-sm transition-all rounded-full flex items-center justify-center text-stone-500 group-hover/item:text-slate-800'
            >
                <Icon className='w-4 h-4' />
            </div>
            <div>
                <p
                    class='text-sm font-bold text-slate-800 group-hover/item:text-slate-600 mb-0.5'
                >
                    {label}
                </p>
                <p class='text-xs text-stone-500 leading-tight'>
                    {desc}
                </p>
            </div>
        </div>
    </a>
</li>
