---
// src/components/DropDownMenu.astro
import DropDownMenuItem from './DropDownMenuItem.astro';

interface MenuItem {
    icon: string;
    label: string;
    desc: string;
    url: string;
}

interface Props {
    items: MenuItem[];
}

const { items } = Astro.props;
---

<div
    id='mega-menu-dropdown'
    class='absolute z-10 w-auto text-sm rounded-sm shadow p-4 bg-[#fcfaf2] opacity-95'
>
    <div class='text-heading md:pb-4'>
        <ul aria-labelledby='mega-menu-dropdown-button'>
            {
                items.map((item) => (
                    <DropDownMenuItem
                        icon={item.icon}
                        label={item.label}
                        desc={item.desc}
                        url={item.url}
                    />
                ))
            }
        </ul>
    </div>
</div>
