---
// src/components/common/AppNav.astro
import Logo from '../AppLogo.astro';
import MobileMenu from './MobileMenu';
import HeaderMenu from './HeaderMenu';
---

<header
    class='w-full bg-[#fcfaf2]/90 backdrop-blur-sm sticky top-0 z-40 border-b border-stone-100'
>
    <div class='max-w-7xl mx-auto flex items-center justify-between md:p-6 p-4'>
        <Logo />
        <nav class='hidden md:block h-full'>
            <ul class='flex justify-center gap-8 text-sm tracking-widest'>
                <li>
                    <HeaderMenu client:load />
                </li>
                <li><a href='/'>Home</a></li>
                <li><a href='/colors'>Colors</a></li>
                <li><a href='/about'>About</a></li>
                <!-- <li>
                    <a
                        href='/login'
                        class='hover:text-slate-900 transition-colors'>Login</a
                    >
                </li> -->
            </ul>
        </nav>
        <div class='md:hidden'>
            <MobileMenu client:load />
        </div>
    </div>
</header>
